# Multiple Linear Regression with Melbourne Housing Data

Import modules needed

In [1]:
from matplotlib import pyplot as plt
import pandas as pd

Import Melbourne housing dataset into pandas and see datatypes  
Source: https://www.kaggle.com/anthonypino/melbourne-housing-market/home

In [2]:
df = pd.read_csv('data/Melbourne_housing_FULL.csv')
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

Keep only columns with numerical data

In [3]:
cols = [col for col in df.columns if df[col].dtype != 'object']
df = df[cols]
df = df.drop(labels='Postcode', axis=1)
df.dtypes

Rooms              int64
Price            float64
Distance         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
Lattitude        float64
Longtitude       float64
Propertycount    float64
dtype: object

Find percentage of each column that contain NaN values

In [4]:
df.isnull().sum()/df.shape[0]

Rooms            0.000000
Price            0.218321
Distance         0.000029
Bedroom2         0.235735
Bathroom         0.235993
Car              0.250394
Landsize         0.338813
BuildingArea     0.605761
YearBuilt        0.553863
Lattitude        0.228821
Longtitude       0.228821
Propertycount    0.000086
dtype: float64

Drop all houses that don't have associated house price and see proportion of null values in each column

In [5]:
df = df.loc[df['Price'].isnull() == False]
df.isnull().sum()/df.shape[0]

Rooms            0.000000
Price            0.000000
Distance         0.000037
Bedroom2         0.236393
Bathroom         0.236613
Car              0.250450
Landsize         0.340037
BuildingArea     0.608911
YearBuilt        0.556502
Lattitude        0.229530
Longtitude       0.229530
Propertycount    0.000110
dtype: float64

Drop all columns with more than 1/4 null values

In [6]:
cols = [col for col in df.columns if df[col].isnull().sum()/df.shape[0] < 0.25]
df = df[cols]

Drop remaining rows with null values

In [7]:
for col in df.columns:
    df = df.loc[df[col].isnull() == False]

In [8]:
df.describe()

,Rooms,Price,Distance,Bedroom2,Bathroom,Lattitude,Longtitude,Propertycount
count,20778.000000,2.077800e+04,20778.000000,20778.000000,20778.000000,20778.000000,20778.000000,20778.000000
mean,3.061267,1.090224e+06,11.378121,3.046155,1.591298,-37.806767,144.996757,7503.806189
std,0.944354,6.528173e+05,6.889495,0.954839,0.700844,0.091720,0.120830,4403.671879
min,1.000000,8.500000e+04,0.000000,0.000000,0.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.600000e+05,6.400000,2.000000,1.000000,-37.860675,144.925077,4380.000000
50%,3.000000,9.100000e+05,10.400000,3.000000,1.000000,-37.799805,145.003500,6567.000000
75%,4.000000,1.335000e+06,14.200000,4.000000,2.000000,-37.748648,145.068977,10331.000000
max,16.000000,1.120000e+07,48.100000,20.000000,9.000000,-37.397800,145.526350,21650.000000